<template>
  <div>
    <p>カウント: {{ count }}</p>
    <button @click="increment">count</button>
  </div>
</template>

<script>
export default {
  name: 'Counter',
  props: {
    count: {
      type: Number,
      required: true
    }
  },
  methods: {
    increment () {
      this.$emit('increment', 1)
    }
  }
}
</script>
